@import "../../variables.scss";

.section {
  position: relative;
  width: 100%;
  margin-bottom: 2em;
  z-index: 2;
  &:last-child {
    margin-bottom: 0;
  }
}

.items-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  .item-card {
    position: relative;
    height: 18em;
    width: 30%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 0.3s ease;
    min-width: 18em;
    margin-bottom: 2.5em;
    border-radius: 0.1em;
    cursor: pointer;
    z-index: 3;
    background-color: $color-light;
    &:hover {
      transform: translateY(-10px);
      box-shadow: rgba(100, 100, 111, 0.25) 0px 7px 29px 0px;
    }
  }
}
#about {
  width: 100%;
  height: 100%;

  .about-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    & > * {
      width: 45%;
    }

    .about-content {
      margin: 0;
      font-size: 1.5em;
    }

    work-experience {
      height: 20rem;
    }
  }
  .skills-container {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: $color-dark;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.background-wrapper {
  position: absolute;
  top: 0;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  z-index: -1;
  user-select: none;

  .background {
    width: 100%;
    position: relative;
    img {
      position: absolute;
      left: 0;
      width: 100%;
      top: 35rem;

      &.reversed {
        -moz-transform: scale(-1, -1);
        -o-transform: scale(-1, -1);
        -webkit-transform: scale(-1, -1);
        transform: scale(-1, 1);
        top: 0rem;
      }
    }
  }
}
#contact {
  padding-block: 2rem;
}
// .bg-container {
//   z-index: -1;
//   position: absolute;
//   width: 100vw;
//   height: 100%;
//   top: 0;
//   left: 50%;
//   transform: translateX(-50%);
//   background-image: url("../../assets/img/decoration/blue\ copie.jpg");
//   background-size: 100% 100%;
//   background-repeat: no-repeat;
//   background-position: right top;
// }
