<section class="section" id="about">
  <div class="background-wrapper">
    <div class="background">
      <img src="../../assets/img/decoration/grid.svg" draggable="false" />
      <img
        class="reversed"
        src="../../assets/img/decoration/grid.svg"
        draggable="false"
      />
    </div>
  </div>
  <h2 class="title">About me</h2>
  <div class="about-container">
    <p class="about-content">
      Hello 👋 I'm Théophile, a software engineer based in Paris. I enjoy
      building things that live on the Internet using various technologies such
      as Angular and Spring Boot.
      <br />
      <br />
      <!-- I love learning new things ...... -->
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>

    <skills-browser-mock></skills-browser-mock>
  </div>
  <work></work>
</section>

<section class="section" id="portfolio">
  <h2 class="title">What I've worked on</h2>
  <projects></projects>
</section>

<!-- <section class="section" id="skills">
  <h2 class="title">Technical skills</h2>
  <skills></skills>
</section> -->

<section class="section" id="contact">
  <div class="bg-container"></div>

  <div class="contact-container">
    <h2 class="title">Contact me</h2>
    <contact></contact>
  </div>
</section>
