<section class="section" id="portfolio">
  <h2 class="title hover-underline-animation">What I've worked on</h2>
  <projects></projects>
  <!-- <div class="items-container">
    <div id="background-text">WORK</div>
  </div> -->
</section>

<section class="section" id="about">
  <div class="about-container">
    <h2 class="title hover-underline-animation">About me</h2>
    <div class="about-content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. At ipsa dolorem
      fuga sit, quis perspiciatis hic ducimus repellendus accusantium repellat
      nulla illum quisquam, excepturi quos tempora voluptatem est non quae!
      Optio, incidunt? Expedita deserunt quo ratione iste sunt libero similique
      aspernatur, praesentium explicabo, sequi eaque voluptates ducimus ullam,
      animi suscipit in nulla saepe placeat non magni soluta dignissimos.
      Minima, maiores.
    </div>
  </div>
  <div class="skills-container"></div>
</section>

<section class="section" id="skills">
  <h2 class="title hover-underline-animation">Technical skills</h2>
  <skills></skills>
</section>

<section class="section" id="contact">
  <div class="contact-container">
    <h2 class="title hover-underline-animation">Contact me</h2>
    <div class="contact-content">
      <contact></contact>
      <div class="other"></div>
    </div>
  </div>
</section>
