<header>
  <div id="header-menu">
    <div class="logo-container" (click)="scrollTo()">
      <img src="../../assets/textures/texture-3.png" draggable="false" />
    </div>
    <div class="links-container">
      <div class="link" (click)="scrollTo()">Go to top</div>

      <div class="link" (click)="scrollTo('portfolio')">Portfolio</div>
      <div class="link" (click)="scrollTo('about')">About me</div>
    </div>
    <div class="contact-btn" (click)="scrollTo('contact')">Contact me</div>
  </div>
</header>
