<header>
  <div id="header-menu">
    <div class="logo-container" (click)="scrollTo()">
      <img
        src="../../assets/textures/texture_lowres.webp"
        alt=""
        draggable="false"
      />
    </div>
    <div class="links-container">
      <div class="link" (click)="scrollTo('about')">About me</div>
      <div class="link" (click)="scrollTo('work')">Work</div>
      <div class="link" (click)="scrollTo('portfolio')">Portfolio</div>
    </div>
    <div class="contact-btn" (click)="scrollTo('contact')">Contact me</div>
  </div>
</header>
