<div class="project-container" *ngFor="let project of projects">
  <div class="project-content">
    <h3 class="project-title">{{ project.title }}</h3>
    <div class="tech-container">
      <div class="tech-item" *ngFor="let techName of project.techs">
        {{ techName }}
      </div>
    </div>
    <div class="project-description">
      {{ project.description }}
    </div>
    <div class="btn-container">
      <div class="visit-btn" (click)="openLink(project.sourceCodeLink)">
        <i class="fa-brands fa-github"></i>
        <div *ngIf="!project.projectLink" class="btn-text">
          Visit project's repository
        </div>
      </div>
      <div
        *ngIf="project.projectLink"
        class="visit-btn"
        (click)="openLink(project.projectLink)"
      >
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
        <div class="btn-text">Visit website</div>
      </div>
    </div>
  </div>
  <div class="project-illustration">
    <img [src]="project.imgSrc" [alt]="project.title + ' illustration'" />
    <div class="grey-fade">
      <div
        class="go-to-site"
        (click)="
          openLink(
            project.projectLink ? project.projectLink : project.sourceCodeLink
          )
        "
      >
        <i
          *ngIf="project.projectLink"
          class="fa-solid fa-arrow-up-right-from-square"
        ></i>
        <i *ngIf="!project.projectLink" class="fa-brands fa-github"></i>
        <span class="go-to-text">{{
          project.projectLink
            ? "Visit " + project.title + "'s website"
            : "Visit " + project.title + "'s Github"
        }}</span>
      </div>
    </div>
  </div>
</div>
