@import "../../variables.scss";

.project-container {
  width: 100%;
  padding-bottom: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:last-child {
    padding-bottom: 0;
  }
  .project-content {
    width: 40%;
    .project-title {
      margin: 0;
      font-weight: 600;
      font-size: 2.4em;
      margin-bottom: 1rem;
    }
    .project-description {
      font-size: 1.3em;
    }
    .tech-container {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 1rem;

      .tech-item {
        user-select: none;
        font-size: 0.9em;
        font-weight: 600;
        background-color: $color-dark;
        border-radius: 0.2rem;
        color: $color-light;
        padding: 0.3rem 1rem;
        margin-right: 1rem;
        margin-bottom: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .project-illustration {
    user-select: none;
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
    box-sizing: content-box;
    transition: all 0.4s ease;

    $img-border-radius: 0.6rem;
    img {
      width: 100%;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      overflow: hidden;
      border-radius: $img-border-radius;
    }
    .grey-fade {
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      backdrop-filter: blur(0px);
      transition: all 0.3s;
      border-radius: $img-border-radius;

      .go-to-site {
        cursor: pointer;
        background-color: $color-light;
        padding: 1rem 1rem;
        border-radius: 0.6rem;
        box-shadow: rgba(100, 100, 111, 0.6) 0px 7px 29px 0px;
        font-size: 1.1em;
        transition: background-color 0.2s;
        &:hover {
          background-color: whitesmoke;
        }
        i {
          font-size: 1.1em;
          margin-right: 1rem;
        }
      }
    }
    &:hover .grey-fade {
      opacity: 1;
      backdrop-filter: blur(1px);
    }
  }
  // &:hover .project-illustration {
  //   transform: scale(1.07);
  // }
}

.btn-container {
  box-sizing: border-box;
  margin-top: 1rem;
  width: 100%;
  display: flex;
  .visit-btn {
    margin-right: 0.1rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 0.2rem;
    font-weight: 600;
    user-select: none;

    width: fit-content;
    padding: 0.2rem 0.5rem;
    color: $color-dark;
    background-color: $color-light;
    &:hover {
      background-color: $color-dark;
      > * {
        color: $color-light;
      }
    }

    i {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .btn-text {
      margin-left: 0.5rem;
    }
  }
}
