form {
  width: 100%;
  font-size: 1.1em;

  label {
    user-select: none;
  }

  textarea,
  .p-float-label {
    width: 100%;
  }
  .p-float-label {
    margin-bottom: 1.8rem;
    input {
      width: 100%;
    }
  }
  textarea:focus ~ label,
  input:focus ~ label,
  input.p-filled ~ label,
  textarea.p-filled ~ label {
    font-size: 0.9em;
    top: -0.9em;
  }

  .first-lign {
    display: flex;
    justify-content: space-between;
    .p-float-label:first-child {
      margin-right: 2rem;
    }
  }

  .btn-container {
    user-select: none;
    display: flex;
    justify-content: flex-end;
  }
}
