<div class="contact-content">
  <form [formGroup]="contactForm">
    <div class="first-lign">
      <div class="input-container">
        <span class="p-float-label">
          <input formControlName="name" id="name" type="text" pInputText />
          <label for="name">Name</label>
        </span>
      </div>
      <div class="input-container">
        <span class="p-float-label">
          <input
            formControlName="email"
            id="email"
            type="text"
            pInputText
            [required]="true"
            reflect-required="false"
          />
          <label for="email" class="label-required">Email</label>
        </span>
        <small
          *ngIf="email && email.touched && email.hasError('required')"
          class="p-error block"
          >The email field cannot be empty</small
        >
        <small
          *ngIf="email && email.touched && email.hasError('email')"
          class="p-error block"
          >The email provided is not valid
        </small>
      </div>
    </div>
    <div class="input-container">
      <span class="p-float-label">
        <input formControlName="subject" id="subject" type="text" pInputText />
        <label for="subject">Subject</label>
      </span>
    </div>
    <div class="input-container">
      <span class="p-float-label">
        <textarea
          formControlName="message"
          id="message"
          [rows]="5"
          [cols]="30"
          pInputTextarea
          [autoResize]="true"
        ></textarea>
        <label for="message" class="label-required">Message</label>
      </span>
      <small
        *ngIf="message && message.touched && message.hasError('required')"
        class="p-error block"
        >The message area cannot be empty</small
      >
    </div>

    <!--  -->
    <div class="btn-container">
      <div
        class="submit-btn hvr-buzz-out hvr-pulse"
        id="submit-btn"
        (click)="submit()"
        [ngClass]="{ disabled: contactForm.invalid, sending: isSending }"
      >
        Send message
      </div>
    </div>
  </form>
  <div class="contact-infos-container">
    <a
      class="contact-info"
      href="https://www.linkedin.com/in/theophile-wallez/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="fa-brands fa-linkedin"></i>
      <div class="link-text">LinkedIn</div>
    </a>
    <a
      class="contact-info"
      href="https://github.com/theophile-wallez"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="fa-brands fa-github"></i>
      <div class="link-text">GitHub</div>
    </a>
    <a
      class="contact-info"
      href="https://stackoverflow.com/users/15813444/th%c3%a9ophile-wallez"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="fa-brands fa-stack-overflow"></i>
      <div class="link-text">Stack Overflow</div>
    </a>
    <a class="contact-info" href="mailto: theophile.wall@gmail.com">
      <i class="fa-solid fa-envelope"></i>
      <div class="link-text">theophile.wall@gmail.com</div>
    </a>
    <a
      class="contact-info"
      href="../../assets/files/Théophile Wallez - Resume.pdf"
      download
    >
      <i class="fa-solid fa-file-arrow-down"></i>
      <div class="link-text">Download my resume</div>
    </a>
  </div>
</div>
