@import "../../variables.scss";

.work-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-block: 4rem;
  align-items: center;
  user-select: none;
  @media (max-width: 599px) {
    flex-direction: column;
  }

  .company {
    $company-padding: 1.5rem;
    position: relative;
    padding-block: $company-padding;
    height: calc(3rem + 2 * $company-padding);
    margin: 1rem 2.9rem;
    @media (max-width: 599px) {
      margin: 0;
      // height: calc(2.5rem + 2 * $company-padding);
      height: auto;
      width: 150px;

      img {
        height: auto;
        width: 100%;
      }
    }
    display: flex;
    justify-content: center;
    align-items: center;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    img {
      height: 100%;
    }
    z-index: 100;

    .company-infos-container {
      $padding: 1rem;
      min-width: calc(100% + 2 * $padding);
      min-width: 15rem;
      box-sizing: border-box;
      padding: $padding;
      background-color: $color-light;
      box-shadow: rgba(100, 100, 111, 0.6) 0px 7px 29px 0px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      border-radius: 0.3rem;
      position: absolute;
      bottom: calc(100%);

      .title {
        white-space: nowrap;
        font-size: 1.4rem;
        font-weight: 600;
        margin-bottom: 0.4rem;
      }
      .duration {
        margin-bottom: 1.5rem;
        font-size: 0.9rem;
        background-color: $color-dark;
        border-radius: 0.2rem;
        color: $color-light;
        width: fit-content;
        padding: 0.1rem 0.5rem;
        user-select: none;
      }
      .description {
        font-size: 1.1rem;
      }
      .visit-btn {
        white-space: nowrap;
        margin-top: 1.5rem;
        display: flex;
        align-items: center;
        border-radius: 0.2rem;
        transition: all 0.2s;
        cursor: pointer;
        i {
          font-size: 1.1rem;
        }
        .btn-text {
          margin-left: 1rem;
          font-weight: 600;
        }
        &:hover .btn-text {
          text-decoration: underline;
        }
      }

      user-select: none;
      pointer-events: none;
      opacity: 0;
      z-index: -10;
      transform: scale(0.9);
    }

    &:hover .company-infos-container {
      user-select: none;
      pointer-events: all;
      opacity: 1;
      z-index: 10;
      transition: all 0.3s ease;
      transform: scale(1);
    }
  }
}
