<div class="window-container">
  <div class="tabs-container-relative">
    <div class="tabs-container-absolute">
      <div
        class="tab"
        *ngFor="let techSide of techSides | keyvalue: asIsOrder"
        (click)="changeTab(techSide.key)"
        [ngClass]="{ selected: selectedTab === techSide.key }"
      >
        <img
          [src]="logoFolderPath + techSide.value[0].logoName"
          draggable="false"
        />
        <div class="tab-name">
          {{ techSide.key }}
        </div>
      </div>
    </div>
  </div>
  <div class="techs-container">
    <div class="tech-item" *ngFor="let tech of techSides.get(selectedTab)">
      <img
        [src]="logoFolderPath + tech.logoName"
        [alt]="tech.logoName"
        draggable="false"
      />
      <p>
        {{ tech.name }}
      </p>
    </div>
  </div>
</div>
