.window-container {
  width: 100%;

  min-width: 491px;
  @media (max-width: 599px) {
    min-width: 100%;
  }
  flex-shrink: 0;

  height: 100%;
  box-shadow: hsla(210, 8%, 62%, 0.2) 0px 8px 24px;
  border-radius: 0.5rem;
  overflow: hidden;
  $tab-container-height: 3rem;
  $border: solid hsl(210, 14%, 89%) 1px;

  .tabs-container-relative {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: $tab-container-height;
    padding-top: 0.4rem;
    background-color: #f1f5f9;

    border-bottom: $border;

    .tabs-container-absolute {
      position: absolute;
      height: 90%;
      width: 100%;
      bottom: -1px;
      left: 0;
      display: flex;
      align-items: flex-end;

      .tab {
        margin: 0;
        display: flex;
        align-items: center;
        user-select: none;
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-inline: 1.5rem;
        font-size: 1.1rem;
        font-weight: 600;
        color: hsl(0, 0%, 40%);

        $border-radius: 0.4rem;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;

        $blank-border: solid 1px transparent;
        border-left: $blank-border;
        border-top: $blank-border;
        border-right: $blank-border;

        &:first-child {
          border-left: none;
        }
        &:hover {
          color: hsl(0, 0%, 0%);
        }

        &.selected {
          background-color: white;
          color: hsl(0, 0%, 0%);
          border-left: $border;
          border-top: $border;
          border-right: $border;
          &:first-child {
            border-left: none;
          }
          &:hover {
            color: hsl(0, 0%, 0%);
          }
        }

        img {
          height: 1.2rem;
        }
        .tab-name {
          margin-left: 1rem;
        }

        @media (max-width: 510px) {
          padding-inline: 1rem;
          .tab-name {
            margin-left: 1rem;
          }
        }
        @media (max-width: 455px) {
          font-size: 1rem;
          padding-inline: 0.5rem;
          .tab-name {
            margin-left: 0.5rem;
          }
        }
        @media (max-width: 599px) {
          // padding-inline: 0.5rem;
          // .tab-name {
          //   margin-left: 0.5rem;
          // }
        }
      }
    }
  }
  .techs-container {
    min-height: calc(100% - $tab-container-height);

    max-height: calc(100% - $tab-container-height);
    width: 100%;
    box-sizing: border-box;
    padding: 1.2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    background-color: white;
    @media (max-width: 599px) {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 0;
      grid-row-gap: 0;
    }
    .tech-item {
      display: flex;
      align-items: center;
      width: fit-content;
      height: 2.5rem;
      margin-right: 1rem;

      img {
        height: 1.2rem;
        width: 1.2rem;
      }

      p {
        margin-left: 1rem;
        font-size: 1.2rem;
      }
    }
  }
}

img {
  user-select: none;
}
