#three-container {
  position: absolute;
  top: -6em;
  right: -7em;
  width: 44em;
  height: 44em;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: none;
  @media (max-width: 599px) {
    width: 25rem;
    height: 25rem;
    right: -2rem;
    top: -10rem;
  }
}
canvas {
  image-rendering: optimizeQuality;
}
