@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css);
@font-face {
  font-family: WalsheimProLight;
  src: url("assets/fonts/GTWalsheimProLight.woff2");
}

$font: WalsheimProLight;
$color-dark: #121316;
$color-light: white;
$scroll-transition-time: 0.4s;
