/* You can add global styles to this file, and also import other style files */
@import "./_variables.scss";
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // -webkit-font-smoothing: subpixel-antialiased !important;
  // text-rendering: optimizeLegibility !important;
  text-rendering: optimizeLegibility;

  // color: $color-dark;
}
body {
  margin: 0 auto;
  max-width: 1144px;
  padding-inline: 2rem;
  font-family: $font-light, Helvetica, Arial, sans-serif;

  position: relative;
  font-size: 16px;
  color: $color-dark;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #121316;
  transition: background-color $scroll-transition-time;
  ::selection {
    background-color: rgba(79, 79, 79, 0.379);
  }
  &.after-scroll {
    background-color: white;
    ::selection {
      background-color: #181a1d1f;
    }
  }
}

body.after-scroll .center {
  // max-width: 1080px;
  // margin-left: auto;
  // margin-right: auto;
  // left: 0;
  // right: 0;
}

h2 {
  color: #181a1d;
  font-size: 3.5rem;
  font-family: $font-light;
  z-index: 20;
  margin-block: 2rem;
  @media (max-width: 599px) {
    font-size: 3rem;
    margin-block: 1rem;
  }
}

h1,
h2,
h3 {
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color: transparent) {
      font-family: $font-regular, Helvetica, Arial, sans-serif;
    }
  }
}
h3 {
  margin: 0;
  font-weight: 600;
  font-size: 2.4em;
  margin-bottom: 1rem;
}

:root {
  color-scheme: dark;
}
