/* You can add global styles to this file, and also import other style files */
@import "./_variables.scss";
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-dark;
}
body {
  margin: 0 auto;
  max-width: 1144px;
  padding-inline: 2rem;
  font-family: $font;
  position: relative;
  font-size: 16px;
  overflow-x: hidden;
}

::selection {
  background-color: #181a1d1f;
}

.center {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

h2 {
  color: #181a1d;
  font-size: 4em;
  z-index: 20;
  margin-block: 1rem;
}
